/* Background Settings */
/* Base Transparency*/
.bg__12180, .app_de4237, .appMount_fae9dd {
    background-color: transparent;
}
/* Transparency for Chat*/
.chatContent__5dca8, .chat__52833{
    background-color: transparent;
}
/* Transparency for Channel list */
.sidebar_ded4b5{
    background: transparent;
}
.header__104ca{
    background-color:var(--bg-overlay-3,var(--background-secondary));
}
/* Transparency for User area */
.panels__58331{
    background: transparent;
}
/* Deal with nonsense */
.form__13a2c::before{
    display: none;
}


/* Main options */
body{
/*     background-image: url("");*/
    background-repeat: no-repeat;
    background-size:cover;
    backdrop-filter: blur(5px);
}
/* Chat overlay */
.content__1a4fe{
    background: rgba(225, 225, 225, .75);
} 
/* Chat Background/Overlay */
.chat__52833{
    background: transparent;
}
/* Channel list background */
.container__590e2{
    background:transparent !important;
}
/* User area bg */
.container_ca50b9{
    background: rgba(136, 136, 136, .4) !important;
}
