/* Background Settings */
/* Base Transparency*/
.bg__12180, .app_de4237, .appMount_fae9dd {
    background-color: transparent;
}
/* Transparency for Chat*/
.chatContent__5dca8, .chat__52833{
    background-color: transparent;
}
/* Transparency for Channel list */
.sidebar_ded4b5{
    background: transparent;
}
.header__104ca{
    background-color:var(--bg-overlay-3,var(--background-secondary));
}
/* Deal with nonsense */
.form__13a2c::before{
    display: none;
}


/* Main options */
body{
    background-image: url("https://cdn.discordapp.com/attachments/551133173359312896/1166055750171365417/MG_0454.jpg");
    background-repeat: no-repeat;
    background-size:cover;
	/* Blur, see https://caniuse.com/css-backdrop-filter for supported browsers */
    backdrop-filter: blur(5px);
}
/* Chat overlay */
.content__1a4fe{
    background:rgba(227, 227, 227, .75);
}
/* Chat Background */
.chat__52833{
    background: blue;
}
/* Channel list background */
.container__590e2{
    background: rgba(253, 253, 253, .89)!important;
}
